* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}
.showDiv {
  display: block!important;
}
.hideDiv {
  display: none!important;
}
.flex {
  display: flex;
}
.flexbc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexac {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.r50 {
  border-radius: 50%;
}
button,
input {
  border: none;
  outline: none;
}
.center {
  margin: 0 auto;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.none {
  display: none;
}
.a {
  position: absolute;
}
.r {
  position: relative;
}
.fixed {
  position: fixed;
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
em {
  font-style: normal;
}
.bold {
  font-weight: bold;
}
.size {
  background-size: 100% auto;
}
.t_nowrap {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
b,
strong {
  font-weight: normal;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
.pointer {
  cursor: pointer;
}
body {
  position: relative;
  overflow-x: hidden;
  font-family: PingFangSC-Regular, Microsoft Yahei;
  color: #fff;
  line-height: 1.5;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #100e1b;
}
.slogan img {
  width: 100%;
  display: block;
}
@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.nodata {
  text-align: center;
  padding: .5rem 0;
  text-shadow: none;
  color: #fff;
  margin: 0 auto;
}
.spinner {
  position: fixed;
  z-index: 12;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  left: 50%;
  top: 50%;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 100%;
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-top-color: #1daddc;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.mask,
.maskc {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 35;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.89);
  opacity: 0.8;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -o-opacity: 0.8;
  filter: alpha(opacity=80);
}
.returnTop {
  position: fixed;
  z-index: 5;
  display: none;
  right: 0.15rem;
  bottom: 5.0rem;
  width: 0.667rem;
  height: 0.96rem;
  background: url(../images/top.png) center bottom no-repeat;
  background-size: 100%;
}
.off {
  position: absolute;
  width: 2.387rem;
  height: 1.2rem;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 4;
}
.barrage-wrapper {
  position: absolute;
  padding-top: 1.333333rem;
  width: 10rem;
  height: 17rem;
  z-index: 4;
  overflow: hidden;
}
.barrage-wrapper .barrage-list {
  position: absolute;
  color: #fff;
  height: 0.933333rem;
  opacity: 0;
  display: inline-block;
}
.barrage-wrapper .barrage-list .display-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.barrage-wrapper .barrage-list img {
  width: 0.933333rem;
  height: 0.933333rem;
  border-radius: 50%;
  background: #141540;
  border: 2px solid #141540;
  position: relative;
}
.barrage-wrapper .barrage-list .barrage-headimg {
  width: 1.333333rem;
  overflow-x: hidden;
  height: 1.6rem;
}
.barrage-wrapper .barrage-list .barrage-text {
  background: #141540;
  white-space: nowrap;
  margin: 0 -0.5rem;
  padding: .15rem .7rem;
  border-radius: 0 0.5rem 0.5rem 0;
  font-size: 0.3rem;
}
.barrage-wrapper .barragesea-list {
  position: absolute;
  color: #fff;
  height: 0.933333rem;
  opacity: 0;
  display: inline-block;
}
.barrage-wrapper .barragesea-list .display-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.barrage-wrapper .barragesea-list img {
  width: 0.933333rem;
  height: 0.933333rem;
  border-radius: 50%;
  background: #f79625;
  border: 2px solid #f79625;
  position: relative;
}
.barrage-wrapper .barragesea-list .barrage-headimg {
  width: 1.333333rem;
  overflow-x: hidden;
  height: 1.6rem;
}
.barrage-wrapper .barragesea-list .barrage-text {
  background: linear-gradient(to right, #f79426, #e42c33);
  white-space: nowrap;
  margin: 0 -0.5rem;
  padding: .15rem .7rem;
  border-radius: 0 0.5rem 0.5rem 0;
}
@-webkit-keyframes right {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(13.333333rem, 0, 0);
    transform: translate3d(13.333333rem, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-13.333333rem, 0, 0);
    transform: translate3d(-13.333333rem, 0, 0);
  }
}
.slogan {
  position: relative;
}
.magicex_btn {
  position: absolute;
  right: 0.5rem;
  bottom: 2.5rem;
  z-index: 5;
  width: 2.373rem !important;
  height: 2.533rem;
  cursor: pointer;
}
/*主体内容*/
.tabgroups {
  width: 100%;
  height: 1.44rem;
  background-color: #292546;
  color: #7E83BC;
  text-align: center;
}
.tabgroups ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.44rem;
}
.tabgroups ul li {
  position: relative;
  width: 50%;
  height: 1.44rem;
  line-height: 1.44rem;
  font-size: 0.4rem;
  cursor: pointer;
}
.tabgroups ul li.active {
  background: linear-gradient(to right bottom, #F5DC65, #E0935E);
  color: #6B2F30;
  border-bottom: 0.107rem solid #924d2b;
}
.pagecontent .pagesider {
  position: relative;
}
.pagecontent .pagesider .title {
  padding: 1.3rem 0 0.1rem 0;
  color: #FFD060;
  font-size: 0.64rem;
  text-align: center;
}
.pagecontent .pagesider .leftTime {
  width: 6.8rem;
  height: 0.68rem ;
  text-align: center;
  line-height: 0.68rem;
  color: #fff;
  margin: 0.2rem auto 0.6rem auto;
  font-size: 0.34rem;
  background: linear-gradient(to right, #100e1b 0%, #131121 10%, #19182e 20%, #27284b 30%, #343666 40%, #424581 50%, #444785 60%, #3c3f76 70%, #2d2e56 80%, #161426 90%, #100e1b 100%);
}
.pagecontent .pagesider .daybtn,
.pagecontent .pagesider .robberbtn {
  position: absolute;
  right: 0.3rem;
  top: 0.5rem;
  width: 1.853rem;
  height: 1.6rem;
  background-color: #3b3f44;
  color: #FFEE7C;
  border-radius: 0.2rem;
  font-size: 0.347rem;
  padding: 0.3rem 0.2rem 0 0.2rem;
  text-shadow: 0 0 10px #58584e, 0 0 10px #58584e, 0 0 10px #fff, 0 0 10px #FFEE7C;
  text-align: center;
  cursor: pointer;
}
.pagecontent .pagesider .note {
  font-size: 0.347rem;
  color: #CECCDA;
  padding: 0.1rem 0.5rem;
}
.pagecontent .pagesider .note p {
  margin: 0;
  padding-bottom: 0.1rem;
}
.pagecontent .synthetic_record {
  width: 9.413rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  background-color: #201E2B;
  padding: 0.6rem 0.3rem 1rem 0.3rem;
  margin-top: 0.6rem;
}
.pagecontent .synthetic_record .toptitle {
  width: 2.92rem;
  height: 0.96rem;
  line-height: 0.88rem;
  text-align: center;
  color: #6B2F30;
  font-size: 0.373rem;
  border-radius: 0.107rem;
  background: linear-gradient(to right, #F5DC65, #E0935E);
  border-bottom: 0.08rem solid #965f18;
  margin: 0 auto;
  cursor: pointer;
}
.pagecontent .synthetic_record .piclist {
  padding-top: 0.8rem;
  height: 9rem;
  background: url("../images/flower.png") center 4rem no-repeat;
  background-size: 4.653rem 4.773rem;
}
.pagecontent .synthetic_record .piclist ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagecontent .synthetic_record .piclist ul li {
  position: absolute;
  width: 1.973rem;
}
.pagecontent .synthetic_record .piclist ul li .name {
  height: 0.62rem;
  line-height: 0.6rem;
  color: #fff;
  font-size: 0.293rem;
  text-align: center;
  border-radius: 0.133rem 0.133rem 0 0;
}
.pagecontent .synthetic_record .piclist ul li .pic {
  height: 1.933rem;
  padding-top: 0.17rem;
  background: url("../images/pic_bg.png") no-repeat;
  background-size: 100% auto;
}
.pagecontent .synthetic_record .piclist ul li .pic .img {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.133rem;
  margin: 0 auto;
  background-color: #22202d;
}
.pagecontent .synthetic_record .piclist ul li .pic .img img {
  width: 1.6rem;
  height: 1.6rem;
}
.pagecontent .synthetic_record .piclist ul li .note {
  color: #9a93bc;
  text-align: center;
}
.pagecontent .synthetic_record .piclist ul li.first {
  top: 2.2rem;
  left: 0.2rem;
  transform: rotate(-20deg);
}
.pagecontent .synthetic_record .piclist ul li.first .name {
  background: linear-gradient(to right bottom, #edbe62, #e0945e);
}
.pagecontent .synthetic_record .piclist ul li.first .pic {
  background: #693fc9;
  border-radius: 0 0 0.133rem 0.133rem;
}
.pagecontent .synthetic_record .piclist ul li.first .pic .img {
  background-color: #2a1a45;
}
.pagecontent .synthetic_record .piclist ul li.first .note {
  color: #d2b25b;
}
.pagecontent .synthetic_record .piclist ul li.second {
  top: 0.2rem;
  left: 2.3rem;
  transform: rotate(10deg);
}
.pagecontent .synthetic_record .piclist ul li.second .name {
  height: 1rem;
  line-height: 1;
  background-color: #dd5f83;
  padding-top: 0.1rem;
}
.pagecontent .synthetic_record .piclist ul li.third {
  top: 0.2rem;
  left: 4.9rem;
  transform: rotate(-10deg);
}
.pagecontent .synthetic_record .piclist ul li.third .name {
  background-color: #dd7d5f;
}
.pagecontent .synthetic_record .piclist ul li.four {
  top: 2.4rem;
  right: 0.1rem;
  transform: rotate(20deg);
}
.pagecontent .synthetic_record .piclist ul li.four .name {
  height: 1rem;
  line-height: 1;
  background-color: #ca57b8;
  padding-top: 0.1rem;
}
.pagecontent .synthetic_record .addlist ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pagecontent .synthetic_record .addlist ul li {
  width: 2.333rem;
  border-radius: 0.133rem;
  background-color: #5d5baf;
  padding-bottom: 0.1rem;
}
.pagecontent .synthetic_record .addlist ul li .name {
  line-height: 0.64rem;
  text-align: center;
  border-radius: 0.133rem 0.133rem 0 0;
  font-size: 0.3rem;
}
.pagecontent .synthetic_record .addlist ul li .pic {
  width: 2.133rem;
  height: 2.133rem;
  background-color: #31386f;
  border-radius: 0.133rem;
  margin: 0.15rem 0 0 0.1rem;
}
.pagecontent .synthetic_record .addlist ul li .pic img {
  width: 2.133rem;
  height: 2.133rem;
}
.pagecontent .synthetic_record .addlist ul li .total {
  text-align: center;
  padding: 0.1rem 0;
  font-size: 0.3rem;
}
.pagecontent .synthetic_record .addlist ul li .addcon {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.133rem;
  height: 0.627rem;
  border-radius: 0.133rem;
  padding: 0 0.1rem;
  margin: 0 auto;
}
.pagecontent .synthetic_record .addlist ul li .addcon .minus,
.pagecontent .synthetic_record .addlist ul li .addcon .add {
  position: absolute;
  width: 0.5rem;
  height: 0.627rem;
  line-height: 0.627rem;
  font-size: 0.3rem;
  text-align: center;
  cursor: pointer;
}
.pagecontent .synthetic_record .addlist ul li .addcon .minus {
  left: 0;
}
.pagecontent .synthetic_record .addlist ul li .addcon .add {
  right: 0;
}
.pagecontent .synthetic_record .addlist ul li .addcon .num {
  width: 1.293rem;
  height: 0.44rem;
  line-height: 0.44rem;
  border-radius: 0.08rem;
  color: #fff;
  font-size: 0.3rem;
  text-align: center;
  margin: 0 auto;
}
.pagecontent .synthetic_record .addlist ul li.first .name {
  color: #fff;
  background: linear-gradient(to right, #75b85c, #219666);
}
.pagecontent .synthetic_record .addlist ul li.first .addcon {
  color: #1E4A47;
  background: linear-gradient(to bottom, #4CBD5F, #219666);
}
.pagecontent .synthetic_record .addlist ul li.first .addcon .num {
  background: #265A57;
}
.pagecontent .synthetic_record .addlist ul li.second .name {
  color: #6b2f30;
  background: linear-gradient(to right, #ffc660, #ffab60);
}
.pagecontent .synthetic_record .addlist ul li.second .addcon {
  background: linear-gradient(to bottom, #FFC560, #F27C47);
}
.pagecontent .synthetic_record .addlist ul li.second .addcon .num {
  background: #633D32;
}
.pagecontent .synthetic_record .addlist ul li.third .name {
  color: #fff;
  background: linear-gradient(to right, #ad6834, #84471e);
}
.pagecontent .synthetic_record .addlist ul li.third .addcon {
  background: linear-gradient(to bottom, #95582F, #E98555);
}
.pagecontent .synthetic_record .addlist ul li.third .addcon .num {
  background: #512728;
}
.pagecontent .synthetic_record .addlist .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding-top: 1.5rem;
}
.pagecontent .synthetic_record .addlist .btns .random,
.pagecontent .synthetic_record .addlist .btns .multiplex {
  width: 2.293rem;
  height: 0.653rem;
  text-align: center;
  color: #fff;
  border-radius: 0.067rem;
  font-size: 0.3rem;
  cursor: pointer;
}
.pagecontent .synthetic_record .addlist .btns .random {
  line-height: 0.553rem;
  border: 1px solid #75d49a;
  background: linear-gradient(to bottom, #26b671, #196f3d);
  box-shadow: 0 0.133rem 0 #0d522b;
}
.pagecontent .synthetic_record .addlist .btns .multiplex {
  line-height: 0.653rem;
  background-color: #486399;
}
.pagecontent .makecon {
  padding-bottom: 0.6rem;
}
.pagecontent .makecon .makebtn,
.pagecontent .makecon .disabled {
  width: 3.24rem;
  height: 0.827rem;
  line-height: 0.827rem;
  text-align: center;
  color: #512728;
  font-size: 0.453rem;
  border-radius: 0.133rem;
  background: linear-gradient(to right, #F5DC65, #E0935E);
  box-shadow: 0 0.08rem 0 #945c16;
  margin: 0.5rem auto 0.3rem auto;
  cursor: pointer;
}
.pagecontent .makecon .makebtn.disabled,
.pagecontent .makecon .disabled.disabled {
  color: #fff;
  background: linear-gradient(to right, #B2B2B2, #868686);
  box-shadow: 0 0.08rem 0 #707070;
}
.pagecontent .makecon .lnum,
.pagecontent .makecon .lastlhnum {
  text-align: center;
  font-size: 0.3rem;
}
.pagecontent .makecon .lnum img,
.pagecontent .makecon .lastlhnum img {
  width: 0.347rem;
  height: 0.36rem;
  margin: 0 0.1rem;
}
.pagecontent .makecon .lastlhnum {
  color: #9490aa;
  padding-top: 0.1rem;
}
.pagecontent .final_synthetic {
  width: 9.413rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  background-color: #201E2B;
  padding: 0.6rem 0.3rem 1rem 0.3rem;
  margin-top: 0.6rem;
}
.pagecontent .final_synthetic .title {
  color: #FFD060;
  font-size: 0.613rem;
  text-align: center;
}
.pagecontent .final_synthetic .magicscore_btn {
  width: 2.96rem;
  height: 0.747rem;
  line-height: 0.747rem;
  color: #fff;
  margin: 0.3rem auto;
  text-align: center;
  font-size: 0.32rem;
  background: linear-gradient(to right, #d37497, #5f409c);
  box-shadow: 0 0.093rem 0 #4d3479;
  border-radius: 0.267rem;
  cursor: pointer;
}
.pagecontent .final_synthetic .note {
  color: #CECCDA;
  font-size: 0.347rem;
  padding: 0.3rem 0;
}
.pagecontent .final_synthetic img {
  width: 100%;
  display: block;
  margin: 0.4rem 0;
}
.pagecontent .final_synthetic .synbtn,
.pagecontent .final_synthetic .disabled {
  width: 3.24rem;
  height: 0.827rem;
  line-height: 0.827rem;
  text-align: center;
  color: #512728;
  font-size: 0.453rem;
  border-radius: 0.133rem;
  background: linear-gradient(to right, #f3d564, #e0935e);
  box-shadow: 0 0.08rem 0 #945c16;
  margin: 1rem auto 0 auto;
  cursor: pointer;
}
.pagecontent .final_synthetic .synbtn.disabled,
.pagecontent .final_synthetic .disabled.disabled {
  color: #fff;
  background: #929292;
  box-shadow: 0 0.093rem 0 #616161;
}
.pagecontent .final_synthetic .zs {
  color: #87839F;
  text-align: center;
  padding-top: 0.3rem;
  font-size: 0.3rem;
}
.pagecontent .grouPTabs {
  width: 9.2rem;
  height: 1.2rem;
  margin: 0 auto;
}
.pagecontent .grouPTabs.groupID1 {
  background: url(../images/tabgroupI.png) center 0 no-repeat;
  background-size: 100% auto;
}
.pagecontent .grouPTabs.groupID2 {
  background: url(../images/tabgroupII.png) center 0 no-repeat;
  background-size: 100% auto;
}
.pagecontent .grouPTabs ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 64%;
  height: 1.2rem;
}
.pagecontent .grouPTabs ul li {
  width: 2.933333rem;
  height: 1.2rem;
  cursor: pointer;
}
.pagecontent .grouPTabs ul li.active {
  cursor: default;
}
.pagecontent .rankpage {
  width: 9.2rem;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.pagecontent .rankpage .title {
  width: 3.493rem;
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.34rem;
  color: #fff;
  text-align: center;
  background: linear-gradient(to right, #bd5a5a, #873d5b);
}
.pagecontent .rankpage .ranklist ul {
  position: relative;
  background-color: #2E2C3E;
}
.pagecontent .rankpage .ranklist ul li {
  font-size: .34rem;
}
.pagecontent .rankpage .ranklist ul li .top1 {
  width: 0.333rem;
  height: 0.293rem;
  background: url(../images/top1.png) center 0 no-repeat;
  background-size: 100% auto;
}
.pagecontent .rankpage .ranklist ul li .top2 {
  width: 0.333rem;
  height: 0.293rem;
  background: url(../images/top2.png) center 0 no-repeat;
  background-size: 100% auto;
}
.pagecontent .rankpage .ranklist ul li .top3 {
  width: 0.333rem;
  height: 0.293rem;
  background: url(../images/top3.png) center 0 no-repeat;
  background-size: 100% auto;
}
.pagecontent .rankpage .ranklist ul li:nth-child(3) .nickname {
  width: 2.8rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.pagecontent .rankpage .ranklist ul li:nth-child(3) .value {
  color: #D0D0D0;
}
.pagecontent .rankpage .ranklist ul li:nth-child(3) .value em {
  padding-left: 0.2rem;
}
.pagecontent .rankpage .ranklist ul li:last-child {
  position: absolute;
  right: 0.2rem;
  top: .28rem;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution {
  width: 3rem;
  height: 1.5rem;
  font-size: .32rem;
  padding-left: .16rem;
  border-radius: .2rem;
  background-color: #587DCB;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .btn-title {
  width: .4rem;
  line-height: 1.2;
  color: #fff;
  display: table-cell;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding-left: .133333333rem;
  font-size: 0;
  padding-top: .15rem;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user {
  position: relative;
  display: inline-block;
  width: .6666666667rem;
  height: .6666666667rem;
  border-radius: 100%;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user img {
  position: relative;
  display: block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  border-radius: 100%;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user:after {
  content: '';
  display: block;
  position: absolute;
  left: 0.32rem;
  top: -0.21333333rem;
  width: 0.32rem;
  height: 0.2933333333rem;
  background-size: 0.32rem 0.2933333333rem;
  background-repeat: no-repeat;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-1:after {
  background-image: url("../images/topcon1.png");
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-1 img {
  z-index: 3;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-2:after {
  background-image: url("../images/topcon2.png");
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-2 img {
  z-index: 2;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-3:after {
  background-image: url("../images/topcon3.png");
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-3 img {
  z-index: 1;
}
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-2,
.pagecontent .rankpage .ranklist ul li:last-child .btn-contribution .top-user-groups .top-user.top-3 {
  margin-left: -0.106667rem;
}
.pagecontent .rankpage .ranklist .pagebottom {
  width: 2.32rem;
  margin: 0.5rem auto;
}
.pagecontent .rankpage .ranklist .pagebottom .btn-more {
  position: relative;
  line-height: 0.666667rem;
  font-size: 0.26rem;
  color: #fff;
  padding-left: 0.3rem;
  background: linear-gradient(to right, #6C6778, #463F54);
  cursor: pointer;
}
.pagecontent .rankpage .ranklist .pagebottom .btn-more:before {
  content: "";
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
  border-top: .25rem solid #463F54;
  position: absolute;
  left: 70%;
  bottom: .22rem;
}
.pagecontent .rankpage .ranklist .pagebottom .btn-more:after {
  content: "";
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
  border-top: .25rem solid #fff;
  position: absolute;
  left: 70%;
  bottom: .2rem;
}
.pagecontent .anchorInfo {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 5;
  width: 100%;
}
.pagecontent .anchorInfo ul {
  font-size: 0.3rem;
  padding: .3rem .27rem .3rem .12rem;
  background: linear-gradient(to bottom, #F5DC65, #E0935E);
}
.pagecontent .anchorInfo ul li .groupdf,
.pagecontent .anchorInfo ul li .groupdh {
  width: 1.2rem;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #3A71D5;
}
.pagecontent .anchorInfo ul li:nth-child(1) {
  color: #fff;
  flex-flow: column;
  padding-top: 0.4rem;
  text-align: center;
  margin-top: -0.7rem;
}
.pagecontent .anchorInfo ul li:nth-child(1) span {
  position: absolute;
  bottom: 0.3rem;
  left: 0.1rem;
}
.pagecontent .anchorInfo ul li:nth-child(2) .faceinfo {
  margin: 0 .3rem 0 .24rem;
}
.pagecontent .anchorInfo ul li:nth-child(3) .nickname {
  color: #fff;
  padding-bottom: 0.1rem;
}
.pagecontent .anchorInfo ul li:nth-child(3) .starvalue {
  color: #fff;
  margin-bottom: 0.1rem;
}
.pagecontent .anchorInfo ul li:nth-child(3) .starvalue em {
  padding-left: 0.2rem;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution {
  padding: 0 .15rem;
  width: 2.887777rem;
  height: 1.5rem;
  outline: none;
  border-radius: .26667rem;
  background-color: #A0623C;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .btn-title {
  display: table-cell;
  vertical-align: middle;
  margin-right: 15px;
  width: .4rem;
  line-height: 1.2;
  color: #fff;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user-groups {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 0;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user {
  position: relative;
  display: inline-block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  border-radius: 100%;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user:after {
  content: '';
  display: block;
  position: absolute;
  left: 0.32rem;
  top: -0.21333333rem;
  width: 0.32rem;
  height: 0.2933333333rem;
  background-size: 0.32rem 0.2933333333rem;
  background-repeat: no-repeat;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user.top-1 {
  z-index: 3;
  right: -10px;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user.top-1:after {
  background-image: url(../images/topcon1.png);
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user.top-2 {
  z-index: 2;
  right: -5px;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user.top-2:after {
  background-image: url(../images/topcon2.png);
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user.top-3 {
  right: 0;
  z-index: 1;
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution .top-user.top-3:after {
  background-image: url(../images/topcon3.png);
}
.pagecontent .anchorInfo ul li:nth-child(4) .btn-contribution img {
  position: relative;
  display: block;
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  border-radius: 100%;
}
.activepage img {
  width: 100%;
  display: block;
}
ul.style {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.2rem 0.2rem 0.4rem 0.2rem;
}
ul.style li:nth-child(1) {
  color: #fff;
  display: flex;
  justify-content: center;
  width: 1.0rem;
  white-space: nowrap;
}
ul.style li:nth-child(2) .faceinfo {
  position: relative;
  width: 1.333333rem;
  margin: 0 .2rem;
}
ul.style li:nth-child(2) .faceinfo .anchorimg {
  width: 1.333333rem;
  height: 1.333333rem;
  display: block;
  border-radius: 50%;
}
ul.style li:nth-child(2) .faceinfo .userimg {
  width: .67rem;
  height: .67rem;
  position: absolute;
  left: -0.1rem;
  bottom: -0.1rem;
  border-radius: 50%;
}
ul.style li:nth-child(2) .faceinfo .live {
  width: 0.92rem;
  height: 0.4rem;
  background: url(../images/live.png) center 0 no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -0.1rem;
}
ul.style li:nth-child(3) {
  flex: 1;
}
ul.style li:nth-child(3) .nickname {
  width: 3.5rem;
  color: #fff;
  display: inline-flex;
}
ul.style li:nth-child(3) .nickname em {
  width: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
ul.style li:nth-child(3) .hotvalue {
  color: #fff;
  font-size: .32rem;
}
ul.style li:nth-child(4) img {
  width: 0.64rem;
  height: 0.747rem;
  display: block;
  margin: 0 auto;
}
ul.style li:nth-child(4) .family1 span {
  padding-top: 0.1rem;
  text-align: center;
  display: block;
}
.cbg {
  background: #1f2429;
  position: fixed;
  z-index: 44;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cbg .xi {
  width: 0.933rem;
  height: 0.933rem;
  background: url(../images/close.png) right top no-repeat;
  background-size: 0.587rem 0.6rem;
  position: fixed;
  z-index: 78;
  right: 0;
  top: 4.1rem;
  transform: translateX(-50%);
  cursor: pointer;
}
.cbg .title {
  color: #FAD98E;
  font-size: 0.533rem;
  padding: 0.5rem 0 0.3rem 0;
  text-align: center;
}
.cbg .note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 0.347rem;
}
.cbg .note em {
  color: #ffe65a;
}
.cbg .content {
  position: absolute;
  top: 0;
  bottom: 4rem;
  left: 0;
  right: 0;
  z-index: 77;
  width: 93%;
  background-color: #a0623c;
  border: 0.133rem solid #e0935e;
  border-radius: 0.267rem;
  margin: 4rem auto auto;
}
.cbg .content .conlist {
  width: 90%;
  height: 95%;
  margin: 0.2rem auto;
  color: #fff;
  font-size: 0.3rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.cbg .content .conlist p em {
  color: #fff581;
}
.cbg.anchormodel .xi {
  top: 2.2rem !important;
}
.cbg.magicmodel .note,
.cbg.anchormodel .note {
  position: static;
  top: 0;
  left: 0;
  transform: inherit;
  font-size: 0.347rem;
}
.cbg.makemodel .xi,
.cbg.magiclist .xi,
.cbg.synmodel .xi,
.cbg.canexchange .xi {
  top: 5.1rem;
}
.cbg.makemodel .content,
.cbg.magiclist .content,
.cbg.synmodel .content,
.cbg.canexchange .content {
  bottom: 4rem;
  margin: 5rem auto auto;
  padding-top: 0.6rem;
}
.cbg.makemodel .content .conlist,
.cbg.magiclist .content .conlist,
.cbg.synmodel .content .conlist,
.cbg.canexchange .content .conlist {
  height: auto;
}
.cbg.makemodel .content .conlist p,
.cbg.magiclist .content .conlist p,
.cbg.synmodel .content .conlist p,
.cbg.canexchange .content .conlist p {
  font-size: 0.373rem;
}
.cbg.makemodel .content .conlist .endspan,
.cbg.magiclist .content .conlist .endspan,
.cbg.synmodel .content .conlist .endspan,
.cbg.canexchange .content .conlist .endspan {
  font-size: 0.4rem;
  text-align: center;
  display: block;
}
.cbg.makemodel .content .btns,
.cbg.magiclist .content .btns,
.cbg.synmodel .content .btns,
.cbg.canexchange .content .btns {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 0.6rem;
}
.cbg.makemodel .content .btns .confirm,
.cbg.magiclist .content .btns .confirm,
.cbg.synmodel .content .btns .confirm,
.cbg.canexchange .content .btns .confirm,
.cbg.makemodel .content .btns .close,
.cbg.magiclist .content .btns .close,
.cbg.synmodel .content .btns .close,
.cbg.canexchange .content .btns .close,
.cbg.makemodel .content .btns .second_confirm,
.cbg.magiclist .content .btns .second_confirm,
.cbg.synmodel .content .btns .second_confirm,
.cbg.canexchange .content .btns .second_confirm {
  width: 2.293rem;
  height: 0.653rem;
  line-height: 0.653rem;
  border-radius: 0.067rem;
  font-size: 0.347rem;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.cbg.makemodel .content .btns .confirm,
.cbg.magiclist .content .btns .confirm,
.cbg.synmodel .content .btns .confirm,
.cbg.canexchange .content .btns .confirm,
.cbg.makemodel .content .btns .second_confirm,
.cbg.magiclist .content .btns .second_confirm,
.cbg.synmodel .content .btns .second_confirm,
.cbg.canexchange .content .btns .second_confirm {
  color: #512728;
  background: linear-gradient(to bottom, #fff56e, #ff9665);
  box-shadow: 0 0.107rem 0 0 #885312;
}
.cbg.makemodel .content .btns .close,
.cbg.magiclist .content .btns .close,
.cbg.synmodel .content .btns .close,
.cbg.canexchange .content .btns .close {
  color: #fff;
  background: linear-gradient(to bottom, #b1b1b1, #868686);
  box-shadow: 0 0.107rem 0 0 #707070;
}
.cbg.anchormodel .xi,
.cbg.magicmodel .xi,
.cbg.princessmodel .xi {
  top: 1rem;
  width: 1.067rem;
  height: 1.067rem;
  background: url(../images/close1.png) right top no-repeat;
  background-size: 0.667rem 0.667rem;
}
.cbg.anchormodel .content,
.cbg.magicmodel .content,
.cbg.princessmodel .content {
  bottom: 2rem;
  background-color: #587dcb;
  border: none;
  margin: 2rem auto auto;
}
.cbg.anchormodel .content .conlist,
.cbg.magicmodel .content .conlist,
.cbg.princessmodel .content .conlist {
  height: 70%;
}
.cbg.magicmodel .xi,
.cbg.princessmodel .xi {
  top: 1.2rem;
}
.cbg.magicmodel .content,
.cbg.princessmodel .content {
  bottom: 1rem;
  margin: 1rem auto auto;
}
.cbg.magicmodel .content .conlist {
  height: 65%;
}
.cbg.magicmodel .datemenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.733rem;
  height: 0.707rem;
  line-height: 0.707rem;
  text-align: center;
  background: linear-gradient(to bottom, #f9bc42, #ec9421);
  border-radius: 0.067rem;
  box-shadow: 0 0.093rem 0 #4568bd;
  margin: 0.3rem auto 0.6rem auto;
  padding: 0 0.1rem;
}
.cbg.magicmodel .datemenu .left {
  width: 0.4rem;
  height: 0;
  border-top: 0.24rem solid transparent;
  border-bottom: 0.24rem solid transparent;
  border-right: 0.24rem solid #915b43;
  cursor: pointer;
}
.cbg.magicmodel .datemenu .left.disabled {
  opacity: 0.2;
}
.cbg.magicmodel .datemenu .right {
  width: 0.4rem;
  height: 0;
  border-top: 0.24rem solid transparent;
  border-bottom: 0.24rem solid transparent;
  border-left: 0.24rem solid #915b43;
  cursor: pointer;
}
.cbg.magicmodel .datemenu .right.disabled {
  opacity: 0.2;
}
.cbg.magicmodel .datemenu .date {
  width: 1.52rem;
  height: 0.507rem;
  line-height: 0.507rem;
  color: #fff;
  font-size: 0.3rem;
  text-align: center;
  margin: 0 auto;
  background-color: #a1751e;
  border-radius: 0.067rem;
}
.cbg.princessmodel .xi {
  top: 2rem;
}
.cbg.princessmodel .content {
  padding: 0.6rem 0;
  bottom: 1.3rem;
  margin: 1.5rem auto auto;
}
.cbg.princessmodel .content .top {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.cbg.princessmodel .content .top .left {
  text-align: center;
}
.cbg.princessmodel .content .top .left img {
  width: 1.333rem;
  height: 1.333rem;
  border-radius: 50%;
}
.cbg.princessmodel .content .top .left .name {
  width: 2.333rem;
  font-size: 0.36rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cbg.princessmodel .content .top .left .prid {
  font-size: 0.347rem;
}
.cbg.princessmodel .content .top .right {
  padding-left: 0.4rem;
}
.cbg.princessmodel .content .top .right .mytitle {
  font-size: 0.453rem;
  text-align: left;
}
.cbg.princessmodel .content .top .right .note {
  position: static;
  transform: none;
  font-size: 0.347rem;
  text-align: left;
  color: #fff;
  padding: 0.1rem 0;
}
.cbg.princessmodel .content .top .right .note p {
  margin: 0;
}
.cbg.princessmodel .content .top .right .exchange_btn {
  width: 2.4rem;
  height: 0.613rem;
  line-height: 0.613rem;
  background: linear-gradient(to right, #3a5fc4, #313ca0);
  box-shadow: 0 0.093rem 0 #2c48a4;
  border-radius: 0.533rem;
  font-size: 0.3rem;
  cursor: pointer;
}
.cbg.princessmodel .content .prlist {
  margin-top: 0.5rem;
}
.cbg.princessmodel .content .prlist ul {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.cbg.princessmodel .content .prlist ul li {
  position: relative;
  width: 2.387rem;
  margin-right: 2rem;
  margin-bottom: 0.2rem;
}
.cbg.princessmodel .content .prlist ul li:nth-child(2n) {
  margin-right: 0;
}
.cbg.princessmodel .content .prlist ul li img {
  width: 2.387rem;
  height: 2.387rem;
  border-radius: 0.133rem;
  background-color: #1f529a;
}
.cbg.princessmodel .content .prlist ul li .name {
  font-size: 0.32rem;
  padding-bottom: 0.1rem;
  text-align: center;
}
.cbg.princessmodel .content .prlist ul li .surplus {
  position: absolute;
  bottom: 1.4rem;
  left: 0;
  color: #b6c8ef;
  background-color: #16396b;
  text-align: center;
  width: 2.387rem;
  height: 0.573rem;
  line-height: 0.573rem;
  border-radius: 0 0 0.133rem 0.133rem;
}
.cbg.princessmodel .content .prlist ul li .exbtn {
  width: 2.387rem;
  height: 0.613rem;
  line-height: 0.613rem;
  font-size: 0.3rem;
  text-align: center;
  border-radius: 0.133rem;
  box-shadow: 0 0.093rem 0 #4f6fbe;
  cursor: pointer;
}
.cbg.princessmodel .content .prlist ul li .exbtn.exbtn-1 {
  background-color: #cad3e6;
  color: #1f529a;
}
.cbg.princessmodel .content .prlist ul li .exbtn.exbtn0 {
  background-color: #fac24a;
  color: #5e2608;
}
.cbg.princessmodel .content .prlist ul li .exbtn.exbtn1 {
  background-color: #e97e44;
  color: #fff;
  overflow: hidden;
}
.cbg.princessmodel .content .prlist ul li .exbtn.exbtn1:before {
  content: '已兌換';
  display: block;
}
.cbg.magiclist .xi {
  top: 4rem;
}
.cbg.magiclist .content {
  bottom: 4rem;
  margin: 4rem auto auto;
}
.cbg.magiclist .content .top {
  color: #fff581;
  padding: 0 0.6rem 0.4rem 0.6rem;
  font-size: 0.3rem;
}
.cbg.magiclist .content .magcon {
  width: 8.067rem;
  height: 5.5rem;
  margin: 0 auto;
  color: #ebccb9;
  border-radius: 0.133rem;
  background-color: #91542f;
  padding: 0.2rem;
  font-size: 0.3rem;
  overflow: hidden;
}
.cbg.magiclist .content .magcon p {
  margin: 0;
}
.cbg.magiclist .content .magcon em {
  color: #fff;
  padding-right: 0.1rem;
}
.cbg.magiclist .content .note {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  color: #fff;
  padding: 0.5rem 0;
  font-size: 0.347rem;
}
.cbg .myinfo {
  width: 93.5%;
  height: 2.093333rem;
  background: linear-gradient(to right, #FFD154, #F6B139);
  color: #5F1212;
  position: fixed;
  z-index: 666;
  bottom: 1.2rem;
  padding-top: 0.15rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 0.267rem 0.267rem;
}
.cbg .myinfo ul {
  border-bottom: none;
}
.cbg .myinfo ul li:first-child,
.cbg .myinfo ul li:nth-child(3),
.cbg .myinfo ul li:last-child {
  color: #5F1212;
}
.cbg .myinfo ul li:last-child {
  text-align: center;
}
.cbg .myinfo ul li:last-child em {
  display: block;
}
ul.cstyle {
  width: 95%;
  height: 1.766667rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 .3rem;
  margin: 0 auto;
}
ul.cstyle li {
  font-size: .34rem;
}
ul.cstyle li img {
  width: 1.133333rem;
  height: 1.133333rem;
  border-radius: 50%;
}
ul.cstyle li:nth-child(1) {
  color: #fff;
  width: 2rem;
}
ul.cstyle li:nth-child(2) {
  position: relative;
  width: 1.333333rem;
  margin-right: 0.5rem;
}
ul.cstyle li:nth-child(2) .nobelimg {
  position: absolute;
  top: -0.27rem;
  left: -0.27rem;
  width: 1.7rem;
  height: 1.7rem;
}
ul.cstyle li:nth-child(2) .nobelimg-1 {
  background-image: url(../images/l1.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(2) .nobelimg-2 {
  background-image: url(../images/l2.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(2) .nobelimg-3 {
  background-image: url(../images/l3.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(2) .nobelimg-4 {
  background-image: url(../images/l4.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(2) .nobelimg-5 {
  background-image: url(../images/l5.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(2) .nobelimg-6 {
  background-image: url(../images/l6.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(2) .nobelimg-7 {
  background-image: url(../images/l7.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) {
  color: #fff;
  font-size: .34rem;
  width: 5.5rem;
}
ul.cstyle li:nth-child(3) .nickname {
  width: 2.5rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: 0.2rem;
}
ul.cstyle li:nth-child(3) .xunimg {
  display: inline-block;
  width: 1.013333rem;
  height: 0.373333rem;
  border-radius: 0;
  margin-top: 0.1rem;
}
ul.cstyle li:nth-child(3) .xunimg-1 {
  background-image: url(../images/xun1@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) .xunimg-2 {
  background-image: url(../images/xun2@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) .xunimg-3 {
  background-image: url(../images/xun3@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) .xunimg-4 {
  background-image: url(../images/xun4@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) .xunimg-5 {
  background-image: url(../images/xun5@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) .xunimg-6 {
  background-image: url(../images/xun6@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(3) .xunimg-7 {
  background-image: url(../images/xun7@3x.png);
  background-size: 100% auto;
}
ul.cstyle li:nth-child(4) {
  color: #fff;
  width: 3rem;
  white-space: nowrap;
}
ul.cstyle li:nth-child(4) .value {
  width: 1.6rem;
  text-align: center;
}
ul.cstyle li:nth-child(4) .value em {
  width: 1.6rem;
  height: 0.453333rem;
  line-height: 0.453333rem;
  display: block;
  margin-bottom: 0.1rem;
}
.toast_div {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 333;
  background-color: #000;
  border-radius: 0.2rem;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.8;
  padding: 0.2rem 0.3rem;
}
